/* navbar and footer css */
.NavButton {
  display: flex;
  justify-content: space-around;
  background-color: #636361;
  padding: 10px 50px 10px 50px;
  margin-left: -40px;
}

#Link {
  background-color: #A3A3A1;
  margin: auto;
  padding: 1vw 2vw;
  border-style: outset;
  border-radius: 3px;
  border-bottom-color: black;
  border-right-color: black;
  border-left-color: white;
  border-top-color: white;
}

a {
  color: #232226;
}


a:hover {
   color: #8B8A87;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6%;
  background-color: #636361;
  text-align: center;
}

.footerText {
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
  text-decoration: underline;
}

.footerLinkedInPicture {
  height: 20px;
  width: auto;
  padding-top: 10px;
}

.footerContact{
  text-decoration: underline;
}

/* adding page and image css */
html, body {
  background-image: linear-gradient(#35353B, #8B8A87, #35353B);
  height: 100%;
}

h1{
  color: #C4CACA;
  text-align: center;
  font-size: 3vw
}

hr{
  border: 1px inset #232226
  ;
}

#profilePicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 50%;
}

/* Skills Icons CSS */
.iconContainer {
 bottom: 0;
}

.skillsIcon {
  font-size: 3vw;
}

.skillsPicture {
  margin-top: 3%;
  height: 3vw;
  width: auto;
}

.Icons {
  display: flex;
  justify-content: space-evenly;
  margin-left: -40px;
}

.iconTooltip {
  position: relative;
  display: inline-block;
}

.iconTooltip .tooltiptextHome {
  position: inherit;
  visibility: hidden;
  width: 10vw;
  margin-left: -166%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.iconTooltip .tooltiptextHome::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.iconTooltip:hover .tooltiptextHome {
  visibility: visible;
  opacity: 1;
}

/* Resume Page */
.scribd_iframe_embed{
  position: fixed;
  height: 100%;
}

/* Contact Page CSS */
.contactPage{
  color: #E8E6E4;
}

.contactFieldset{
  margin: 9% 33%;
  width: 33.33vw;
  height: 11vw;
  border: 2px solid #fefefe;
  align-content: center;
}

legend{
  font-size: 1.5vw;
}

.container{
  display: flex;
  justify-content: space-between;
}

#emailButton, #callButton{
  margin: 2.5%;
  background-color: #A3A3A1;
  height: 6vw;
  width: 17vw;
  font-size: 2.1vw;
  border-radius: 5%;
}

/* The Modal  */
.contactModal {
  position:fixed;
  top:0; right:0; bottom:0; left:0;
  z-index:1050;
  display:none;
  overflow:hidden;
  -webkit-overflow-scrolling:touch;
  outline:0
}

.contactModal.contactFade .modalDialog{
  -webkit-transform:translate(0,-25%);
  -ms-transform:translate(0,-25%);
  -o-transform:translate(0,-25%);
  transform:translate(0,-25%);
  -webkit-transition:-webkit-transform .3s ease-out;
  -o-transition:-o-transform .3s ease-out;
  transition:-webkit-transform .3s ease-out;
  transition:transform .3s ease-out;
  transition:transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out
}
.contactModal.in .modalDialog{
  -webkit-transform:translate(0,0);
  -ms-transform:translate(0,0);
  -o-transform:translate(0,0);
  transform:translate(0,0)
}
.contactModal-open .contactModal{
  overflow-x:hidden;
  overflow-y:auto
}
.modalDialog{
  position:relative;
  width:auto;
  margin:10px
}
.modalContent{
  position:relative;
  background-color:#E8E6E4;
  background-clip:padding-box;
  border:1px solid rgba(153, 153, 153, .2);
  border-radius:6px;
  -webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);
  box-shadow:0 3px 9px rgba(0,0,0,.5);
  outline:0;
  margin: 15% auto;
  padding: 20px;
  width: 60%;
}
.modal-backdrop{
  position:fixed;
  top:0; right:0; bottom:0; left:0;
  z-index:1040;
  background-color:#000
}
.modal-backdrop.contactFade{
  filter:alpha(opacity=0);
  opacity:0
}
.modal-backdrop.in{
  filter:alpha(opacity=50);
  opacity:.5
}
.modalHeader{
  padding:15px;
  border-bottom:1px solid #8B8A87;
}
.modalHeader .contactClose{
  margin-top:-2px
}
.modalTitle{
  margin:0;
  color: #35353B;
  line-height:1.42857143
}
.modalBody{
  position:relative;
  padding:15px
}
@media (min-width:768px){
  .modalDialog{
    width:600px;margin:30px auto
  }
  .modalContent{
    -webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
    box-shadow:0 5px 15px rgba(0,0,0,.5)
  }
  .contactModal-sm{
    width:300px
  }
}
@media (min-width:992px){
  .contactModal-lg{
    width:900px
  }
}

/* The Modal Close Button */
.contactClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.contactClose:hover, .contactClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Projects page */

.card{
  background-color: #FFFFFF;
  padding:5%;
  margin: auto;
  width: 85%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius:4px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}


.card:hover{
  box-shadow: 0 16px 24px 2px rgba(196,202,202,0.14), 0 6px 30px 5px rgba(196,202,202,0.12), 0 8px 10px -5px rgba(196,202,202,0.3);
  color:black;
}

address{
margin-bottom: 0px;
}

.cardImage{
  border-bottom: 1px solid black;
  height: 180px;
  width: 100%;
}